In [1]:
import pandas as pd
from scipy import stats

In [2]:
df= pd.read_excel("Parametric.xlsx")

In [3]:
df.head()

  Group Treatment  Age  Cholesterol
0     I         A   74          6.7
1     I         A   68          6.7
2    II         B   21          5.0
3     I         B   66          3.7
4   III         A   37         10.3

In [4]:
df.shape

(300, 4)

In [5]:
df.Cholesterol.mean()

6.007333333333333

In [6]:
stats.ttest_1samp(df.Cholesterol, 6)

Ttest_1sampResult(statistic=0.06626994666948996, pvalue=0.9472071983074379)

In [7]:
stats.ttest_1samp(df.Cholesterol, 4)

Ttest_1sampResult(statistic=18.139891765621098, pvalue=4.1202600671358595e-50)

In [8]:
stats.ttest_ind(df[df.Treatment == "A"].Cholesterol,
               df[df.Treatment == "B"].Cholesterol)

Ttest_indResult(statistic=1.6429180984069158, pvalue=0.10145456832306156)

In [9]:
stats.ttest_ind(df[df.Treatment == "A"].Cholesterol,
               df[df.Treatment == "B"].Cholesterol,
               equal_var=False)

Ttest_indResult(statistic=1.6442431179506196, pvalue=0.10119260368785411)