In [1]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_excel("Categorical.xlsx")

In [3]:
df.shape

(300, 4)

In [4]:
df.head()

  Group Treatment  Choice  Outcome
0     A         I       3        0
1     A        II       2        1
2     B       III       5        0
3     B       III       5        1
4     A        II       3        1

In [5]:
df.Group.value_counts()

B    158
A    142
Name: Group, dtype: int64

In [6]:
df.Group.value_counts(normalize=True)*100

B    52.666667
A    47.333333
Name: Group, dtype: float64

In [7]:
df.Treatment.value_counts()

I      150
II      90
III     60
Name: Treatment, dtype: int64

In [8]:
df.Choice.value_counts()

1    69
5    62
4    62
2    54
3    53
Name: Choice, dtype: int64

In [9]:
df.groupby("Group")["Choice"].value_counts()

Group  Choice
A      2         33
       4         30
       1         27
       3         27
       5         25
B      1         42
       5         37
       4         32
       3         26
       2         21
Name: Choice, dtype: int64

In [10]:
pd.crosstab(df.Group, df.Choice)

Choice   1   2   3   4   5
Group
A       27  33  27  30  25
B       42  21  26  32  37

In [12]:
stats.chi2_contingency(pd.crosstab(df.Group, df.Choice))

(7.501505212098097,
 0.11164293763753588,
 4,
 array([[32.66      , 25.56      , 25.08666667, 29.34666667, 29.34666667],
        [36.34      , 28.44      , 27.91333333, 32.65333333, 32.65333333]]))