In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel("Comorbid.xlsx")

In [2]:
df.head(2)

,Age,Grade,Logistics,Temperature,Pneumonia,Hypertension,DiabetesMellitus
0,77,B,Immediate Surgical intervention(then Ward / IC...,37.4,No,No,No
1,64,A,Admit to Ward for Care,38.0,No,Yes,No

In [3]:
df.columns

Index(['Age', 'Grade', 'Logistics', 'Temperature', 'Pneumonia', 'Hypertension',
       'DiabetesMellitus'],
      dtype='object')

In [5]:
df.Age.mean()

55.10385259631491

In [6]:
df.Age.median()

56.0

In [7]:
df.DiabetesMellitus.mode()

0    No
dtype: object

In [8]:
df.DiabetesMellitus.value_counts()

No     532
Yes     65
Name: DiabetesMellitus, dtype: int64

In [10]:
df.DiabetesMellitus.value_counts(normalize=True)*100

No     89.112228
Yes    10.887772
Name: DiabetesMellitus, dtype: float64

In [11]:
df.Age.min()

18

In [12]:
df.Age.max()

90

In [13]:
df.Age.std()

21.71256560765737

In [14]:
df.Age.var()

471.43550526682577

In [15]:
df.Age.quantile([0,0.25,0.5,0.75,1])

0.00    18.0
0.25    35.0
0.50    56.0
0.75    75.0
1.00    90.0
Name: Age, dtype: float64

In [17]:
df.Age.values

array([77, 64, 87, 70, 85, 30, 60, 29, 73, 68, 54, 74, 47, 88, 39, 82, 84,
       27, 22, 58, 53, 40, 87, 39, 70, 72, 43, 50, 39, 45, 26, 20, 82, 66,
       39, 62, 57, 35, 49, 43, 77, 31, 30, 54, 64, 86, 54, 82, 21, 22, 79,
       24, 74, 37, 28, 49, 69, 44, 30, 79, 49, 74, 77, 87, 50, 57, 76, 38,
       55, 70, 68, 50, 59, 90, 81, 79, 30, 61, 21, 81, 48, 78, 80, 32, 45,
       23, 43, 80, 25, 74, 46, 57, 26, 27, 71, 41, 34, 76, 49, 85, 65, 52,
       19, 84, 64, 90, 81, 52, 77, 64, 83, 27, 86, 63, 55, 83, 63, 69, 26,
       33, 59, 66, 34, 67, 22, 74, 59, 32, 86, 65, 24, 37, 23, 81, 19, 32,
       37, 24, 24, 34, 33, 76, 63, 61, 45, 68, 84, 87, 85, 87, 78, 65, 61,
       69, 62, 89, 88, 38, 85, 50, 24, 43, 54, 25, 81, 37, 90, 25, 30, 62,
       36, 82, 86, 43, 30, 74, 49, 76, 76, 45, 78, 26, 30, 79, 47, 65, 47,
       70, 19, 22, 23, 87, 70, 61, 68, 86, 20, 72, 45, 89, 81, 70, 66, 56,
       57, 76, 84, 87, 84, 24, 40, 88, 84, 30, 63, 50, 65, 79, 36, 68, 67,
       33, 59, 45, 29, 67, 87, 26, 71, 82, 70, 63, 70, 23, 32, 20, 69, 80,
       69, 65, 68, 18, 48, 66, 56, 22, 26, 76, 29, 85, 79, 80, 83, 31, 46,
       57, 63, 77, 77, 86, 19, 23, 51, 77, 54, 24, 87, 33, 70, 74, 42, 43,
       74, 54, 68, 84, 19, 18, 54, 42, 75, 77, 87, 43, 55, 70, 26, 58, 87,
       46, 64, 57, 71, 22, 29, 62, 83, 62, 81, 40, 88, 28, 55, 32, 61, 81,
       23, 43, 67, 56, 21, 82, 42, 53, 88, 59, 29, 50, 21, 32, 66, 38, 58,
       50, 58, 35, 68, 46, 25, 69, 68, 25, 31, 34, 30, 48, 76, 27, 20, 72,
       49, 53, 85, 73, 89, 69, 25, 45, 75, 66, 50, 72, 50, 20, 59, 32, 46,
       76, 20, 63, 59, 74, 44, 26, 19, 18, 78, 61, 70, 29, 79, 68, 22, 85,
       18, 31, 41, 74, 82, 67, 85, 54, 33, 32, 55, 29, 37, 41, 30, 30, 35,
       75, 86, 74, 57, 83, 60, 31, 83, 25, 41, 71, 44, 69, 54, 47, 83, 60,
       80, 87, 57, 87, 45, 48, 37, 70, 72, 44, 48, 26, 37, 21, 67, 80, 34,
       60, 82, 19, 76, 76, 30, 74, 65, 30, 56, 80, 28, 82, 30, 24, 18, 43,
       86, 73, 34, 45, 35, 76, 55, 81, 30, 87, 23, 40, 29, 50, 88, 60, 55,
       90, 20, 32, 87, 89, 18, 48, 41, 45, 89, 50, 41, 53, 63, 76, 80, 53,
       27, 87, 22, 86, 64, 51, 46, 22, 57, 56, 43, 35, 75, 78, 75, 53, 61,
       71, 30, 37, 66, 49, 23, 48, 81, 24, 82, 57, 74, 89, 74, 89, 75, 40,
       18, 42, 81, 18, 37, 35, 71, 60, 74, 60, 83, 66, 53, 28, 72, 83, 42,
       49, 44, 43, 85, 38, 88, 48, 18, 79, 26, 22, 73, 78, 31, 83, 50, 26,
       46, 58, 37, 29, 65, 63, 61, 68, 20, 76, 84, 20, 18, 29, 67, 64, 41,
       78, 68, 77, 82, 32, 49, 36, 34, 25, 89, 51, 20, 79, 50, 85, 51, 32,
       50, 35, 49, 63, 44, 78, 86, 40, 65, 37, 79, 61, 60, 54, 54, 40, 18,
       33, 24], dtype=int64)

In [20]:
np.percentile(df.Age.values, [0, 25,50,75,90,100])

array([18., 35., 56., 75., 84., 90.])

In [22]:
from scipy import stats

In [24]:
stats.iqr(df.Age)

40.0

In [25]:
df.Age.describe()

count    597.000000
mean      55.103853
std       21.712566
min       18.000000
25%       35.000000
50%       56.000000
75%       75.000000
max       90.000000
Name: Age, dtype: float64

In [26]:
df.DiabetesMellitus.value_counts()

No     532
Yes     65
Name: DiabetesMellitus, dtype: int64